@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .Gradient {
    background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
  }

  .urdu-font {
    font-family: "Noto Nastaliq Urdu", serif;
  }
}